<section class="bg-auth">
    <div class="container">
        <div class="row">
            <div class="col-6 ">
                <h2 class="text-center text-welcome">Bem vindo ao</h2>
                <h1 class="text-center text-title-welcome">
                    SeuCandidato
                    <div class="dotcom">
                        .Com
                    </div>
                </h1>
                <form [formGroup]='form'>
                    <div class="form-group">
                        <label for="email">Email/Usuário</label>
                        <input formControlName='username' type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
                    </div>
                    <div class="form-group
                    ">
                        <label for="password">Senha</label>
                        <input formControlName='password' type="password" class="form-control" id="password" placeholder="Senha">
                    </div>
                    <div class="text-end">
                        <button (click)="login()" type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <p class="text-center text-register">Ainda não tem um usuário ? <a href="/register">CLIQUE AQUI</a> para se cadastrar!</p>
                </form>
            </div>
        </div>
    </div>
</section>