<div class="container">
    <div class="row">
        <div class="success-register text-center">Cadastrado com sucesso !</div>
        <div class="img-confirmed offset-md-4 col-md-4 col-12 text-center">
            <img src="./../../../assets/medias/check-circle.png" alt="Cadastro confirmado com sucesso" class="img-fluid">
        </div>
        <div class="message text-center">Estamos quase lá, olhe seu email e confirme o cadastro.</div>
        <div class="text-center">
            <button routerLink="/login" type="submit" class="btn btn-primary">Login</button>
        </div>
    </div>
</div>