.success-register{
    padding-top: 70px; 
    color: #6E7B8B;
    font-family: "Roboto Serif";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.img-confirmed {
    padding-top: 50px; 
}

.message {
    padding-top: 50px;
    color: #6E7B8B;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

button {
    margin: 50px 0px 80px 0px;
    padding: 15px 70px;
    background-color: #6E7B8B;
    border: solid 1px #6E7B8B;
    font-family: 'Inter';
    font-size: 16px;
    color: #ffffff;
}

button:hover {
    background-color: #929ba5;
    border: solid 1px #929ba5;
    color: #ffffff;
}