.card {
    width: 100%;
    .card-header {
        align-items: center;
        background-color: #200;
        padding-right: 4%;
        padding-left: 4%;
        padding-top: 8%;
        padding-bottom: 8%;

        .card-img-top {
            width: 77px;
            height: 74px;
            border-radius: 77px;
            margin-right: 1rem;
        }

        .card-title {
            color: #FFF;
            font-family: "Roboto Flex";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

    }

    .card-body {
        display: flex;
        align-items: center;
        flex-direction: column;
        .card-text {
            color: var(--Heading-Title-Color, #152536);
            font-family: "Roboto Condensed";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
        }
        .btn {
            width:50%;
            background-color: #200;
            border-color: #200;

        }
    }
}