// .home-page {
//     margin: 0px;
//     padding: 0px;
    .title {
        color: #220000;
        font-family: 'Roboto Serif';
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 2%;
        margin-top: 40px
    }
    .carroussel {
        margin-bottom: 0px;
        img {
            width: 100%;
        }
    }

    .sites {
        background-color: #CCCCCC;

        .row-cards {
            --bs-gutter-x: 3%;
            --bs-gutter-y: 3%;

        }
    }

    .faq {
        background-color: #CCCCCC;

        .title {
           color: #220000;
        }
        .title:hover {
            text-decoration: none;
            color: #220000;
        }
    }

    .contact {
        .btn {
            background-color: #200;
            border-color: #200;
        }
    }

// }
.background {
    background-color: #CCCCCC;

}