

<div class="carroussel">
    @if (images) {
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[0]" alt="Random first slide" />
            </div>
            <div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[1]" alt="Random second slide" />
            </div>
            <div class="carousel-caption">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[2]" alt="Random third slide" />
            </div>
            <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </ng-template>
    </ngb-carousel>
    }

</div>

<div class="background">
<div class="container sites">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <h2 class="title">Sites em Destaque</h2>
        </div>
    </div>

    <div class="row mt-4 pb-4 mb-0 row-cards">
        @for(card of cards; track $index) {
        <div class="col-md-4 d-flex justify-content-center">
            <app-card-site></app-card-site>
        </div>
        }
    </div>
</div>
</div>


<div class="container plans pb-4">
    <div class="row mt-0 justify-content-center">
        <div class="col-md-12 text-center">
            <h2 class="title">Planos</h2>
        </div>
    </div>
    <div class="row mt-4 pb-4 mb-0 row-cards">
        @for(plan of plans; track $index) {
        <div class="col-md-3 d-flex justify-content-center">
            <app-card-plan [plan] = plan></app-card-plan>
        </div>
        }
    </div>
</div>

<div class="background">
<div class="container faq pb-4">
    <div class="row mt-0 pt-4 align-itens-center">
        <div class="col-md-12 text-center mb-4">
            <h2 class="title">Perguntas frequentes</h2>
        </div>
    </div>
    <div class="row mt-4 pb-4 mb-0">
        <div class="col-md-12 text-center mb-4">
            <p-accordion class="accordion" [activeIndex]="0">
                @for(question of faqQuestions; track $index) {
                <p-accordionTab class="accordion-header" header={{question.question}}>
                    <p>
                        {{question.response}}
                    </p>
                </p-accordionTab>
                }
            </p-accordion>
        </div>
    </div>
</div>
</div>

<div class="container contact pb-4">
    <div class="row mt-0 justify-content-center">
        <div class="col-md-12 text-center">
            <h2 class="title">Contato</h2>
        </div>
    </div>

    <form [formGroup]="contactForm">
        <div class="row">
            <div class="col-md-12">
                <div class="mb-3">
                    <input formControlName="name"  type="name" class="form-control" id="exampleFormControlInput1" placeholder="Nome">
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="mb-3">
                    <input formControlName="phone" type="phone" class="form-control" id="exampleFormControlInput1" placeholder="(99) 99999-9999">
                  </div>
            </div>
            <div class="col-md-2">
                <div class="form-check">
                    <input formControlName="whatsapp" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Whatsapp ?
                    </label>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="mb-3">
                    <input formControlName="subject" type="subject" class="form-control" id="exampleFormControlInput1" placeholder="Assunto">
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="mb-3">
                    <textarea formControlName="message" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Mensagem"></textarea>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-end">
                <div class="mb-3">
                    <a href="#" (click)="submitForm()" class="btn btn-primary">Contratar</a>
                </div>
            </div>
        </div>

    </form>

</div>

<!-- </div> -->