
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "primeng/resources/themes/soho-light/theme.css";
@import "primeng/resources/primeng.css";

.p-accordion-header, .p-accordion-header-link {
    background-color: #FFFF;
    color: #220000;
}

.p-accordion-content {
    color: black;
}
